<launch>
  <arg name="manager" default="/camera/camera_nodelet_manager"/> <!-- Must be globally qualified -->
  <arg name="respawn" default="false" />
  <arg name="arm" default="left" />

  <group ns="/baxter_$(arg arm)">

  <arg     if="$(arg respawn)" name="bond" value="" />
  <arg unless="$(arg respawn)" name="bond" value="--no-bond" />


  <!-- Color rectified image -->
  <node pkg="nodelet" type="nodelet" name="$(arg arm)_rectify_color"
        args="load image_proc/rectify $(arg manager) $(arg bond)"
	respawn="$(arg respawn)">
    <remap from="image_mono" to="image" />

  </node>  
  

  </group>
</launch>
